{% extends "base.html" %}
{% load static %}
{% block page_content %}
<h1>Projects</h1>
<div class="row">
{% for o_Project in o_Projects %}
    <div class="col-md-4">
        <div class="card mb-2">
            <img class="card-img-top" src="{% static o_Project.s_ImageFile %}">
            <div class="card-body">
                <h5 class="card-title">{{ o_Project.s_Title }}</h5>
                <a href="{% url 'ProjectsDetail' o_Project.pk %}"
                   class="btn btn-primary">
                    Read More
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
